<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">        
    <meta name="description" content="">
    <title>VUE JS UCH</title>
    <link rel="stylesheet" href="app/css/css.css">        
</head>
<body>
    <div id="app">
     <div id="trabajo1">
        <div id="seccion1">
            <h1> {{ titulo }}</h1>
        </div>
       
        <div id="contenedor">
            <ul>
                <li v-for="discoteca in discotecas">
                    <h3>{{ discoteca.nombre }}</h3>
                    <img :src="discoteca.imagen" :alt="discoteca.nombre">
                    <p>{{ discoteca.descripcion }}</p>
                    <p><a :href="discoteca.ubicacion" target="_blank">Ubicación</a></p>

                </li>
            </ul>
         </div>
    </div>
    <h1> {{ titulo }}</h1>
    <div v-if="see">
         Promedio Final Ponderado
    </div>
    <div style="margin-top: 20px;">
         <h2>Calcula Promedio</h2>
         <p>Ingresa tus calificativos</p>
         <div>
             <label>Programacion</label>
             <input type="range" v-model="progra" min="0" max="20" step="1" v-on:change="calcularPromP">
             <p style="display: inline;"> Crédito: {{ credito.progra }}</p>
             <p style="display: inline;">Nota: {{ progra }}</p>
             <p><b>{{ promedio.progra }}</b></p>
         </div>
         <div>
             <label>Desarrollo Web</label>
             <input type="range" v-model="desarro" min="0" max="20" step="1" v-on:change="calcularPromDW">
             <p style="display: inline;"> Crédito: {{ credito.desarro }}</p>
             <p style="display: inline;">Nota: {{ desarro }}</p>
             <p><b>{{ promedio.desarro }} </b></p>
         </div>
         <div>
             <label>Base de Datos</label>
             <input type="range" v-model="base" min="0" max="20" step="1" v-on:change="calcularPromBD">
             <p style="display: inline;"> Crédito: {{ credito.base }}</p>
             <p style="display: inline;">Nota: {{ base }}</p>
             <p><b>{{ promedio.base }}</b></p>
         </div>
         <div>
             <label>Ingeniería de Software</label>
             <input type="range" v-model="ingSoft" min="0" max="20" step="1" v-on:change="calcularPromIS">
             <p style="display: inline;"> Crédito: {{ credito.ingSoft }}</p>
             <p style="display: inline;">Nota: {{ ingSoft }}</p>
             <p><b>{{ promedio.ingSoft}}</b></p>
         </div>
         <hr>
         <div>
             <p>Promedio Ponderado: {{ promPon.final }}</p>
         </div>
    </div>
 </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="app/app.js"></script>
</html>
    
    </div>
    